<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    <title>G2Link Setup</title>
  </head>
  <body>
    <p align="center"><label>&nbsp;</label></p>
    <p align="center"><img width="60" class="g2logo" src="/static/g2.svg"></p>
    <p align="center"><label>&nbsp;</label></p>
    {% block body %}
    {% endblock %}
    <p align="center"><label>&nbsp;</label></p>
    <p align="center"><label>&nbsp;</label></p>
    <p align="center"><label><font color="#444">Wi-Rock v0.1.1</font></label></p>
  </body>
</html>
