{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">
    <form action="{{ url_for('save_credentials') }}" method=post>
    <p align="center"><label for="menu">WiFi SSID</label><br />
    <input type="text" name="ssid" class="wifiNetworkInputs inputs"></p>

    <p align="center"><label for="wifi_key">WiFi password</label><br />
    <input type="password" name="wifi_key" class="wifiNetworkInputs inputs"></p>
    <p align="center"><input type="submit" class="button confirmbutton" value="Confirm" style="height:40px;width:180px"></p>
    </p></form>

    <p align="center"><label>&nbsp;</label></p>

    <p align="center"><a href="/wifi"><button class="button backbutton" style="height:40px;width:180px">Back</button></a></p>
  </div>
{% endblock %}
