{% extends 'layout.html' %}
{% block body %}
 <div id="indexContent">
  <p align="center"><a href="{{ url_for('reboot') }}"><button class="button rebootbutton" style="height:40px;width:150px">Reboot</button></a></p>
  <p align="center"><a href="{{ url_for('poweroff') }}"><button class="button shutdownbutton" style="height:40px;width:150px">Shutdown</button></a></p>

  <p align="center"><label>&nbsp;</label></p>

  <p align="center"><a href="/"><button class="button backbutton" style="height:40px;width:150px">Back</button></a></p>
 </div>
{% endblock %}
